Flask
Flask-Admin
Flask-Bootstrap
Flask-Migrate
flask-nav
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-Testing
Flask-Uploads
Flask-WTF<=0.13.1
Jinja2<=2.8.2
mock
setuptools
# future # python < 2.7
