Flask
Flask-Admin
Flask-Bootstrap
Flask-Migrate
flask-nav
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-Testing
Flask-Uploads
Flask-WTF
Jinja2
# future    # Python < 2.7
# mock      # Python < 3.3
setuptools
