{% extends "bootstrap/base.html" %}
{% block title %}Aresys License Management{% endblock %}

{% block body -%}

{% block navbar %}
{{ nav.top.render() }}
{% endblock %}

{% block flash %}
{% from "bootstrap/utils.html" import flashed_messages %}
{{ flashed_messages(dismissible=True) }}
{% endblock flash%}

{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}

{%- block footer %}
<footer class="navbar navbar-fixed-bottom">
  <div class="container text-center">
    <p>Copyright &copy; 2016 <a href="http://www.aresys.it">Aresys s.r.l</a></p>
  </div>
</footer>
{%- endblock footer %}
{%- endblock body %}

