{% extends "bootstrap/base.html" %}
{% block title %}Aresys License Management{% endblock %}

{% block body -%}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <a href="{{ url_for('index') }}">Home</a> |
  {{ current_user.email }} <a href="{{ url_for('security.logout') }}">logout</a>
</div>
{% endblock %}

{% block flash %}
{% from "bootstrap/utils.html" import flashed_messages %}
{{ flashed_messages(dismissible=True) }}
{% endblock flash%}

{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}

{% block footer %}
  <div id="footer">
    Copyright &copy; 2016 by <a href="http://www.aresys.it">Aresys s.r.l</a>
  </div>
{% endblock footer %}

{%- endblock body %}

