{% extends "layout.html" %}

{% block content %}
<h1>Submit a new license request</h1>
<form action="{{ url_for('new') }}" method="post" enctype="multipart/form-data">
  <label for="product-filed">Product</label>
  <select name="product" id="product-field">
    <option value="ssp">SSP</option>
    <option value="cspp">CSPP</option>
    <option value="csip">CSIP</option>
    <option value="gss">GSS</option>
  </select>
  <br>
  <label for="file-field">Request file</label>
  <input type=file name=license_req id="file-field">
  <br>
  <label for="description-field">Description (optional)</label>
  <input type=text name=description id="description-field">
  <br>
  <button type="reset">Reset</button>
  <button type="submit">Submit</button>
</form>

{% endblock %}
