{% extends "layout.html" %}

{% block content %}
<h1>{{ title|default('Roles') }}</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Desctiption</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
  {% for role in pagination.items %}
    <tr>
      <td>{{ role.id }}</td>
      <td>{{ role.email }}</td>
      <td>{{ role.description }}</td>
      <td>{{ role.users|join(', ', attribute='email') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% from "bootstrap/pagination.html" import render_pagination %}
{{ render_pagination(pagination) }}

{% endblock %}
