{% extends "bootstrap/base.html" %}
{% block title %}SLiM - Simple License Management{% endblock %}

{% block body -%}

{% block navbar %}
{{ nav.top.render() }}
{% endblock navbar %}

{% block flash %}
{% from "bootstrap/utils.html" import flashed_messages %}
{{ flashed_messages(dismissible=True) }}
{% endblock flash %}

<div class="container">
{% block content -%}
{%- endblock content %}
</div>

{%- block footer %}
<br>
<br>
<footer class="footer navbar-fixed-bottom">
  <div class="container text-center">
    <p>Copyright &copy; {{ config['SLIM_COPYRIGHT_YEAR'] }} <a href="{{ config['SLIM_COPYRIGHT_URL'] }}">{{ config['SLIM_COPYRIGHT_OWNER']}}</a></p>
  </div>
</footer>
{%- endblock footer %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}

{%- endblock body %}
