{% extends "layout.html" %}

{% block content %}
<h1>Submit a new license request</h1>
<form class="form" action="{{ url_for('new') }}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="product-filed">Product</label>
    <select class="form-control" name="product" id="product-field" required>
      {% for product in products %}
      <option value="{{ product.name }}">{{ product.name }}</option>
      {% endfor %}
    </select>
  </div>
  {% if current_user.has_role('admin') %}
  <div class="form-group">
    <label for="user-filed">User</label>
    <select class="form-control" name="user" id="user-field" required>
      {% for user in users %}
      <option value="{{ user.email }}">{{ user.email }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}
  <div class="form-group">
  <label for="file-field">Request file</label>
  <input type=file name=license_req id="file-field" required>
  </div>
  <div class="form-group">
  <label for="description-field">Description (optional)</label>
  <input class="form-control" type=text name=description id="description-field">
  </div>
  <button type="reset">Reset</button>
  <button type="submit">Submit</button>
</form>

{% endblock %}
