{% extends "layout.html" %}
{% from "bootstrap/utils.html" import form_button, icon %}

{% block content %}
<h1>{{ title|default('Products') }}</h1>

<p>Total pproduct count: {{ pagination.query.count() }}</p>

<div>
  <p><a href="{{ support_link }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Send</button></a>
  a support request to purchase a product.</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Desctiption</th>
      {% if purchase_map %}
      <th>Purchased</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for product in pagination.items %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      {% if purchase_map %}
      <td>{{ 'YES' if purchase_map[product.id] else 'NO' }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% from "bootstrap/pagination.html" import render_pagination %}
{{ render_pagination(pagination) }}
{% endblock content %}
