{% extends "layout.html" %}
{% from "bootstrap/utils.html" import form_button, icon %}

{% block content %}
<h1>{{ title|default('Products') }}</h1>

<p>Total product count: {{ pagination.query.count() }}</p>

<div>
  <p><a href="{{ support_link }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Send</button></a>
  a support request to purchase a product.</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Url</th>
      {% if purchase_map is defined %}
      <th>Purchased</th>
      <th>Used</th>
      <th></th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for product in pagination.items %}
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description|default('') }}</td>
      <td>{{ product.url|default('') }}</td>
      {% if purchase_map is defined %}
      <td>{{ icon('ok', extra_classes=['text-success']) if purchase_map[product.id].purchased else icon('remove', extra_classes=['text-danger']) }}</td>
        {% if purchase_map[product.id].purchased %}
        <td>{{ purchase_map[product.id].license_count }} of {{ purchase_map[product.id].purchase_count }}</td>
        <td><a href="{{ url_for('new', product_id=product.id) }}">{{ icon('upload') }} New license request</a>
      <td>
        {% else %}
        <td>N/A</td>
        {% endif %}
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% from "bootstrap/pagination.html" import render_pagination %}
{{ render_pagination(pagination) }}
{% endblock content %}
