{% extends "layout.html" %}

{% block content %}
<h1>{{ title|default('Purchases') }}</h1>

<p>Total purchase count: {{ pagination.query.count() }}</p>

<div>
  <p><a href="{{ support_link }}"><button class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Send</button></a>
  a support request to purchase a product.</p>
</div>

{% if pagination.items %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      {% if users %}
      <th>User</th>
      {% endif %}
      <th>Product</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% for item in pagination.items %}
    <tr>
      <td>{{ item.id }}</td>
      {% if users %}
      <td>{{ users.get(item.user_id).email }}</td>
      {% endif %}
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% from "bootstrap/pagination.html" import render_pagination %}
{{ render_pagination(pagination) }}
{% else %}
<p>No purchase found.</p>
{% endif %}
{% endblock content %}
