{% extends "layout.html" %}
{% from "bootstrap/utils.html" import form_button, icon %}

{% block content %}
<h1>User "{{ user.email }}"</h1>

<dl class="dl-horizontal">
  <dt>ID</dt>
  <dd>{{ user.id }}</dd>

  <dt>Email</dt>
  <dd>{{ user.email }}</dd>

  <dt>Active</dt>
  <dd>{{ user.active }}</dd>

  <dt>Roles</dt>
  <dd>{{ user.roles|join(', ', attribute='name') }}</dd>

  <dt>Login count</dt>
  <dd>{{ user.login_count }}</dd>

  <dt>Current login at</dt>
  <dd>{{ user.current_login_at }}</dd>

  <dt>Current login IP</dt>
  <dd>{{ user.current_login_ip }}</dd>

  <dt>Last login at</dt>
  <dd>{{ user.last_login_at }}</dd>

  <dt>Last login IP</dt>
  <dd>{{ user.last_login_ip }}</dd>
  <dt><br/>Password</dt>
  <dd>{{ form_button(url_for('security.change_password'), icon('cog') + ' Change password', method='get', class='btn btn-primary') }}</dd>
</dl>
{% endblock content %}
